/* Commentaire en CSS*/
/* Dev by Eddy */



/*@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');*/



body {
  margin: 0;
  padding: 0;
}

/* Global */
h1,
h2,
h3,
h4,
h5 {
  margin: 5px 0;
  padding: 0;
  font-family: 'Radio Canada', sans-serif;
}

.item-list {
  padding: 5px;
}

button {
  height: 35px
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.container {
  max-width: 80vw;
  width: 80vw;
}

.w-100 {
  width: 100%
}

.w-80 {
  width: 80%
}

input,
textarea {
  margin: 0 10px;
  border-radius: 5px;
}

/* Spacing (padding, margin, ...) */
.mx-5 {
  margin: 0 5px;
}

.mx-auto {
  margin: 0 auto
}

.my-10 {
  margin: 10px 0
}

.ml-10 {
  margin-left: 10px
}

.mr-10 {
  margin-right: 10px
}

/* Color (bg, text, bdr, ...) */
.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}

/* Flex */
.row {
  display: flex;
}

.space-btw {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.jus-center {
  display: flex;
  justify-content: center;
}

.al-itm-center {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

/* Navbar */
.nav {
  top: 0;
  width: 100%;
  height: 12vh;
  border-bottom: solid 1px yellow;
  box-shadow: 0 5px 15px black;
}

/* Header */
header {
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("dragon2.jpg");
}




/* List cards */
.list-card {
  display: flex;
  justify-content: center;
}

/* Card */
.card {
  height: auto;
  width: 25%;
  border: solid 2px black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;
}

.card>img {
  width: 100%
}

.size {
  height: 150px;
  width: 100px;
}

.marg {
  margin: 15px;
}

.marg1 {
  margin-left: 15px;
}

.marg2 {
  margin-right: 15px;
}

.img {
  width: 1fr;
  height: 1fr;
  background-color: powderblue;
}

.grille {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
}

.grille1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
}

.grille2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 10px;
}

.column {
  grid-column-start: 1;
}

.column1 {
  grid-column-start: 2;
}

.column2 {
  grid-column-start: 3;
}

.row {
  grid-row-start: 1;
}

.row1 {
  grid-row-start: 2;
}

.row2 {
  grid-row-start: 3;
}

.margin {
  margin-top: 9vh;
}